---
// import { SITE } from 'astrowind:config';
---

<div class="ml-2 rtl:ml-0 rtl:mr-2">
  <img src="/assets/logo/logo.svg" alt="logo" class="w-full dark:hidden" />
  <img src="/assets/logo/logo-white.svg" alt="logo" class="w-full hidden dark:block" />
  <!-- 🚀 {SITE?.name} -->
</div>
